@charset "UTF8";

*{
    /*height: 100%;*/
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background-image: linear-gradient(to right,#30A5BF,#185359);
}

p{
    text-align: justify;
}
main{
    border-radius:10px;
    background-color: whitesmoke;
    width: 600px;
    padding: 10px;
    margin: auto;
    box-shadow: 5px 5px 11px #0b2b4086;
}
h1{
    color:#F2BE22;
    text-align: center;
    text-shadow: 1px 1px 2px #bd951dbb;
}

h2{
    color:#0a2435;
}
